<div class="main">
  <div class="heading">Tic Tac Toe</div>
  <table>
    <tr>
      <td id="cell0" class="cellText" (click)="cellSelected(0)"></td>
      <td id="cell1" class="cellText" (click)="cellSelected(1)"></td>
      <td id="cell2" class="cellText" (click)="cellSelected(2)"></td>
    </tr>
    <tr>
      <td id="cell3" class="cellText" (click)="cellSelected(3)"></td>
      <td id="cell4" class="cellText" (click)="cellSelected(4)"></td>
      <td id="cell5" class="cellText" (click)="cellSelected(5)"></td>
    </tr>
    <tr>
      <td id="cell6" class="cellText" (click)="cellSelected(6)"></td>
      <td id="cell7" class="cellText" (click)="cellSelected(7)"></td>
      <td id="cell8" class="cellText" (click)="cellSelected(8)"></td>
    </tr>
  </table>
  <button class="reset" (click)="reset()">Reset</button>
</div>