<div class="main" [ngStyle]="{'justify-content': !gameScreen ? 'normal' : 'center'}">
  <div class="heading" [ngClass]="{'mainHeading': !gameScreen}">Tic Tac Toe</div>
  <div *ngIf="!gameScreen" class="selectScreen">
    <div class="mainSubHeading">Select the key you want to play with<br>
    Note: O starts first!!</div>
    <div>
      <button class="mainButton obutton" (click)="startScreen('X')">O</button>
      <button class="mainButton xbutton" (click)="startScreen('O')">X</button>
    </div>
  </div>
  <table *ngIf="gameScreen" id="table">
    <tr>
      <td id="cell0" class="cellText" (click)="cellSelected(0)"></td>
      <td id="cell1" class="cellText" (click)="cellSelected(1)"></td>
      <td id="cell2" class="cellText" (click)="cellSelected(2)"></td>
    </tr>
    <tr>
      <td id="cell3" class="cellText" (click)="cellSelected(3)"></td>
      <td id="cell4" class="cellText" (click)="cellSelected(4)"></td>
      <td id="cell5" class="cellText" (click)="cellSelected(5)"></td>
    </tr>
    <tr>
      <td id="cell6" class="cellText" (click)="cellSelected(6)"></td>
      <td id="cell7" class="cellText" (click)="cellSelected(7)"></td>
      <td id="cell8" class="cellText" (click)="cellSelected(8)"></td>
    </tr>
  </table>
  <div class="footer">
    <button *ngIf="gameScreen" class="reset" (click)="reset()">Reset</button>
    <button *ngIf="gameScreen" class="reset" (click)="restart()">Restart</button>
  </div>
</div>